# Node modules
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env

# OS / IDE files
.DS_Store
.vscode/
.idea/
*.swp

# Optional: shell scripts if you don't want in image

